.launchpads-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.launchpads {
  display: flex;
  text-align: left;
  margin: 2rem;
  border: 2px solid #a0a0a0;
  border-radius: 5px;
}

.launchpad-img-div {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.launchpad-img {
  height: auto;
  width: 30vw;
  margin: 1rem 0.5rem 1rem 1rem;
}

.launchpad-text-div {
  margin: 1rem 1rem 1rem 0.5rem;
}

.launchpad-name {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.launches-list {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.launchpad-status {
  text-transform: capitalize;
}

.launchpad-status-span {
  font-weight: 600;
}

/* Media Query */

@media only screen and (max-width: 756px) {
  .launchpads {
    flex-direction: column;
  }

  .launchpad-name, .launchpad-fullname {
    text-align: center;
    /* font-size: 1.25rem; */
  }

  .launchpad-name {
    font-size: 1.25rem;
  }

  .launchpad-text-div {
    margin: 0.5rem 1rem 1rem 1rem;
  }
  
  .launchpad-img {
    margin: 0 1rem 0.5rem 1rem;
    width: 100%;
    height: auto;
  }
}

